body {
  background-color: lavender;
  font-family: verdana;
  background-image: url(https://i.pinimg.com/originals/0b/97/db/0b97dbd08090954c4c17fc1a848787f5.jpg );
  background-position: center;
}

.header {
  background-color: white;
  text-align: center;
  width: 75%;
  margin: auto;
}

.banner {
  font-size: 45px;
}

.navitem {
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-right: 30px;
  color: #debbb6;
}

.welcome, .stories, .contactpg, .interests, .about {
  background: rgba(252, 222, 226, 0.4);
  padding: 10px;
  margin: 0 auto;
  width: 75%;
}

#intro-pic {
  width: 50%;
  height: 50%;
}

#intro2 {
  width: 50%;
  height: 50%;
}

#aboutpic {
  width: 35%;
}

#jogpic {
  width: 50%;
  height: 50%;
}

.stories img {
  width: 35%;
}

.stories a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: darkgreen;
}

.stories a:hover {
  color: hotpink;
}

form {
  padding: 15px;
  font-style: italic;
  border-style: groove;
  font-weight: 900px;
  background-color: white;
  /* width: 50% */
}

input[type=button] {
  color: purple;
  background-color: white;
  padding: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
  border: solid;
  border-color: purple;
}

input[type=button]:hover {
  color: hotpink;
  background-color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 16px;
  border: solid;
  border-color: hotpink;
}
input[type=text]:focus {
  background-color: pink;
  transition: 1s;
}
input[type=email]:focus {
  background-color: pink;
  transition: 1s;
}
textarea:focus {
  background-color: pink;
  transition: 1s;
}
