* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(79, 71, 160);
}
#bronx-div {
background-color: #afeeee;
}
#brooklyn-div {
    background-color: lightsalmon;
}
#manhattan-div {
    background-color: #afeeee;
}
#queens-div {
    background-color: lightsalmon;
}
#statenIsland-div {
    background-color: #afeeee;
}