h1 {
    color: rgb(79, 71, 160);
}
#bronx {
background-color: #afeeee;
}
#brooklyn {
    background-color: lightsalmon;
}
#manhattan {
    background-color: #afeeee;
}
#queens {
    background-color: lightsalmon;
}
#statenIsland {
    background-color: #afeeee;
}